{% extends "farmerhome.html" %}
{% block content %}
<style>
    .itemcontainer{
        width: 95%;
        padding: 20px;
        height: auto;
        border: 4px solid rgb(84, 134, 8);
    }
    .itemcontainer input{
        width: 90%;
        padding: 6px;
    }
</style>
<div class="container mt-5">
    <div class="row">
        {% for m in messages %}
        <h6 style="color: green;text-align:center">{{m}}</h6>
        {% endfor %}
        <div class="col-md-4">
            <div class="itemcontainer">
                {% for i in Farm %}
                  
                <h4 style="text-align:center">My Farm</h4>
                <h6>Seed: {{i.seedname}}</h6>
                <h6>Farm Type: {{i.farmfield}}</h6>
                <h6>Farm Area: {{i.framarea}}sqft</h6>
                <h6>Date: {{i.date}}</h6>
                <h6>Status: {{i.framstatus}}</h6>
                <img src="{{i.image.url}}" width="90%" height="30%" alt="">
            </div>

        </div>
        <div class="col-md-4">
            <div class="itemcontainer" style="text-align:center">
                <h4 style="text-align:center">My Farm Status</h4>
                <br>
            <form method="post">
                    {% csrf_token %}
                <input type="text" name="status" placeholder="Farm Status" required><br><br>
                <input type="text" name="questions" placeholder="Askquestions">
                <br><br>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            </div>

        </div>
        <div class="col-md-4">
            <div class="itemcontainer"
            style="
                height:450px;
                overflow:scroll;
            "   
            >
                <h4 style="text-align:center">Expert Opinion</h4>
                {% for f in farmstatus %}
                <p>date: {{f.date}}</p>
                <h6>Status: {{f.Status}}</h6>
                <p>Question: {{f.questions}}</p>
                <p>Answer: {{f.answers}}</p>
                <a href="{%url 'DeleteOpinion' f.id i.id %}" class="btn btn-outline-danger btn-sm">Delete</a><br>
                -------------------------------------------------------------------
                  
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>

</div>
  
{% endblock %}